fastapi
uvicorn
pydantic
langchain
langchain-community>=0.3.0
langchain-google-genai
chromadb
pypdf>=5.0.0
tiktoken
sentence-transformers
python-dotenv
opentelemetry-semantic-conventions
google-genai
google-ai-generativelanguage
