fastapi
uvicorn
pydantic
langchain
langchain-core
langchain-community
langchain-google-genai
chromadb
pypdf
tiktoken
sentence-transformers
python-dotenv
opentelemetry-semantic-conventions
starlette
requests
google-genai
google-ai-generativelanguage